.cards{
    text-align: -webkit-center;
    margin-top: 15vh;
}
.body-header .user-cicle{
    text-align: center;
}
.forgot{
    color: var(--dark-orange);
    cursor: pointer;
}
.apply{
    color: var(--capitec-blue);
    cursor: pointer; 
}