.active-users {
    background-color: var(--side-background) ;
}
.suspend{
    background-color: var(--dark-orange);
}
.activate{
    background-color: var(  --capitec-blue);
}
.profile_card{
    background-color: var( --side-background);
    color: var(--background-color);
}
.picture_card{
    width: 250px;
}
