:root{
  --dark-orange: #FF5823;
  --fnb-blue: #4cceac;
  --capitec-blue: #009DE0;
  --background-color: #F9F9F9;
  --grey: #a3a3a3;
  --side-background:#141b2d; 
}

.App{
  font-family: 'Source Sans Pro', sans-serif;

}

.dash{
  height: 100vh;
  display: flex;
}
.content{
  display: block !important;
  width: 100vw;
}
