.login{
    text-align: -webkit-center;
    justify-self: center
}

.body-header .user-cicle{
    text-align: center;
}

.apply{
    color: var(--capitec-blue);
    cursor: pointer; 
}
.reg{
    color: var(--dark-orange);
    cursor: pointer;  
}